.mycourse-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y:auto;
    align-items: center;
    background-color: var(--secondary-color);
}
.mycourse{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}
.mycourse-content-container > h1 {
    font-size: 70px;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
}
.mycourse-sorryimg {
    flex-shrink: 4;
    min-width: 0;
    min-height: 0;
    margin-top: 10px;
}
.mycourse-title{
    text-align: center;
    width: 100%;
    min-width: 0;
    min-height: 0;
}
.mycourse-accordionSection{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    min-width: 0;
    min-height: 0;
    margin-top: 10px;
    position: relative;
}
.mycourse-container{
    width: 100%;
    margin-top: 10px;
    position: absolute;
    top: 30%;
    position: absolute;
}
.mycourse-wrap {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}
.mycourse-wrap h1{
    padding: 2rem;
    font-size: 2rem;
}
.mycourse-wrap span{
    margin-right: 1.5rem;
}
.mycourse-activities-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.mycourse-dropdown {
    margin-top: 5px;
    background: #fff;
    border-radius: 10px;

    color: #1c1c1c;
    width: 98%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mycourse-activity-status{
    margin-right: 10px;
}
.mycourse-dropdown p{
    font-size: 1rem;
    padding: 1rem;
}

/*.mycourse-addNewActivity {
    background: #fff;
    color: red;
    width: 98%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 10px;
}
.mycourse-content-container .mycourse .mycourse-AccordionSection .mycourse-Container .mycourse-AddNewActivity p{
    font-size: 2rem;
}

.mycourse-content-container .mycourse .mycourse-AccordionSection .mycourse-Container .mycourse-AddNewSection {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}
.mycourse-content-container .mycourse .AccordionSection .Container .AddNewSection h1{
    padding: 2rem;
    font-size: 2rem;
}
.course-content-container .course .AccordionSection .Container .AddNewSection span{
    margin-right: 1.5rem;
}*/
.mycourse-content-quiz{
    width: 80%;
    height: 80%;
}
.mycourse-description {
    font-size: 70px;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
}