.starting-quiz-container {
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.starting-quiz-container .starting-quiz {
    width: 70%;
    height: 75%;
    overflow: auto;
    background: #fff;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.starting-quiz {
    background-color: #fff;
    margin: 1%;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 7px 20px 0 rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-evenly;
}
  
.starting-score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}
  
/* QUESTION/TIMER/LEFT SECTION */
.starting-quiz-question-section {
    width: 100%;
    position: relative;
}
  
.starting-quiz-question-count {
    margin-bottom: 1px;
}
  
.starting-quiz-question-count span {
    font-size: 30px;
}
  
.starting-quiz-question-text {
    margin-bottom: 1px;
    font-size: 25px;
}
  
.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}
  
/* ANSWERS/RIGHT SECTION */
.starting-quiz-answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.starting-quiz-answer-section-button {
    width: 100%;
    height: 50%;
    font-size: 16px;
    margin-top: 2%;
    padding:2%;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    border: var(--tertiary-color);
    cursor: pointer;
}
  
.correct {
    background-color: #2f922f;
}
  
.incorrect {
    background-color: #ff3333;
}
  
.starting-quiz-answer-section-button:hover {
    background-color: #9c4141;
}
  
.starting-quiz-answer-section-button:focus {
    outline: none;
}
  
.starting-quiz-answer-section-button svg {
    margin-right: 5px;
}

.d-flex-quiz {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}


.justify-content-center-quiz {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: flex;
    padding-top: 1%;
    border: 0;
  }
