.company-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y:auto;
    align-items: center;
    background-color: var(--secondary-color);
    /*overflow: auto;*/
}
.company-container .course{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    /*align-items: center;
    justify-content: center;*/
}
.Wrap-Tracking {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 2%;
    border-radius: 10px;
    margin: 5px;
}
.Wrap-Tracking h1{
    font-size: 1.75rem;
}
.Wrap-Tracking h2{
    font-size: 1.25rem;
}
.Wrap-Tracking span{
    margin-right: 1.5rem;
}

.company-container .course2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*margin-top: 3vh;*/
    align-items: center;
    justify-content: center;
}

.company-container .course .course-title{
    text-align: left;
    width: 100%;
    min-width: 0;
    min-height: 0;
    color: #000;
}
.company-container .course .AccordionSection{
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    background: #fff;
    width: 100%;
    min-width: 0;
    min-height: 0;
    margin-top: 10px;
    position: relative;
}
.company-container .course .AccordionSection .Container{
    /*box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);*/
    width: 100%;
    margin-top: 10px;
    position: absolute;
    top: 30%;
}
.company-container .course .AccordionSection .Container .Wrap {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}
.company-container .course .AccordionSection .Container .Wrap h1{
    padding: 2rem;
    font-size: 2rem;
}
.company-container .course .AccordionSection .Container .Wrap span{
    margin-right: 1.5rem;
}
.company-container-activities-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.2%;
}
.company-container-Dropdown {
    background: #fff;
    border-radius: 8px;
    color: #1c1c1c;
    width: 99%;
    height: 100%;
    margin: 0.25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.company-container .course .AccordionSection .Container .Dropdown p{
    font-size: 2rem;
}
.company-container .course .AccordionSection .Container .Dropdown span{
    margin-right: 1rem;
    color: red;
}

.AddNewActivity-company-tracking {
    background: #fff;
    width: 98%;
    height: 100px;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid #00ffb9;
    border-top: 1px solid #00ffb9;*/
    margin-top: 5px;
    border-radius: 10px;
}
.company-container .course .AccordionSection .Container .AddNewActivity p{
    font-size: 2rem;
}

.company-container-AddNewSection {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    min-height: 60px;
}
.company-container-AddNewSection .input{
    border: 0;
    outline: none;
}
.company-container-AddNewSection h1{
    padding: 2rem;
    font-size: 2rem;
}
.company-container-AddNewSection span{
    margin-right: 1.5rem;
}

.dropdown-menu-company {
    top: 100%;
    left: 0;
    z-index: 0;
    float: left;
    min-width: 10rem;
    margin: 1.5%;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
  }

  .text-area-company-tracking {
    width: 60%;
    height: 50%;
    padding: 1%;
    margin: 2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize:none;
}

.update-company-tracking {
    margin-left: 5%;
}