.softkillq-container{
    width: 80%;
    height: 100%;
}

.softkillq-container .softskill{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.softkillq-container .softskill .softskill-l{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.softkillq-container .softskill .softskill-l .ssTop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.softkillq-container .softskill .softskill-l .ssTop .ssTitleTA{
    width: 100%;
    resize: none;
    font-size: 15px;
}

.softkillq-container .softskill .softskill-l .ssBottom{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.softkillq-container .softskill .softskill-l .ssBottom .save{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.softkillq-container .softskill .softskill-l .ssBottom .ssQuestionTA{
    width: 100%;
    height: 80%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    resize: none;
}

.softkillq-container .softskill .softskill-r{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.softkillq-container .softskill .softskill-r > img {
    width: 100%;
    height: auto;
    max-height: 1000px;
}
.btn-create-activities2 {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-create-activities2:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}