.course-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202731;
    /*overflow: auto;*/
}
.course-content-container .sorry {
    color: #fff;
    font-size: 70px;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
  }
.course-content-container .course{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    /*align-items: center;
    justify-content: center;*/
}
.course-content-container .course2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*margin-top: 3vh;*/
    align-items: center;
    justify-content: center;
}

.course-content-container .course .course-title{
    text-align: left;
    width: 100%;
    min-width: 0;
    min-height: 0;
    color: #fff;
}
.course-content-container .course .AccordionSection{
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    background: #fff;
    width: 100%;
    min-width: 0;
    min-height: 0;
    margin-top: 10px;
    position: relative;
}
.course-content-container .course .AccordionSection .Container{
    /*box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);*/
    width: 100%;
    margin-top: 10px;
    position: absolute;
    padding-bottom:10%;
    top: 30%;
}
.course-content-container .course .AccordionSection .Container .Wrap {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}
.course-content-container .course .AccordionSection .Container .Wrap h1{
    padding: 2rem;
    font-size: 2rem;
}
.course-content-container .course .AccordionSection .Container .Wrap span{
    margin-right: 1.5rem;
}
.course-content-container .course .AccordionSection .Container .activities-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.course-content-container .course .AccordionSection .Container .Dropdown {
    background: #fff;
    border-radius: 10px;

    color: #1c1c1c;
    width: 98%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.course-content-container .course .AccordionSection .Container .Dropdown p{
    font-size: 1rem;
}
.course-content-container .course .AccordionSection .Container .Dropdown span{
    margin-right: 1rem;
    color: red;
}

.course-content-container .course .AccordionSection .Container .AddNewActivity {
    background: #fff;
    width: 98%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid #00ffb9;
    border-top: 1px solid #00ffb9;*/
    margin-top: 5px;
    border-radius: 10px;
}
.course-content-container .course .AccordionSection .Container .AddNewActivity p{
    font-size: 2rem;
}

.course-content-container .course .AccordionSection .Container .AddNewSection {
    background: #fff;
    color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    min-height: 60px;
}
.course-content-container .course .AccordionSection .Container .AddNewSection .input{
    border: 0;
    outline: none;
}
.course-content-container .course .AccordionSection .Container .AddNewSection h1{
    padding: 2rem;
    font-size: 2rem;
}
.course-content-container .course .AccordionSection .Container .AddNewSection span{
    margin-right: 1.5rem;
}
