.create-quiz-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.create-quiz {
    background-color: #fff;
    width: 550px;
    min-height: 300px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    display: flex;
    justify-content: space-evenly;
}
.create-options {
    width: 450px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}
  
/* QUESTION/TIMER/LEFT SECTION */
.create-question-section {
    width: 100%;
    position: relative;
}
  
.create-question-count{
    margin-bottom: 20px;
}
  
.create-question-count span {
    font-size: 28px;
}
  
.create-question-text {
    margin-bottom: 12px;
}
  
.create-timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}
  
/* ANSWERS/RIGHT SECTION */
.create-answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.create-answer-section-button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
  
.create-correct {
    background-color: #3D6E57;
    border: 5px solid #3D6E57;
}
  
.create-incorrect {
    background-color: #D73D2E;
    border: 5px solid #D73D2E;
}
.answer-input {
    background-color: transparent;
    border: transparent;
    color: #fff;
}
.answer-input:active {
    background-color: transparent;
    border: transparent;
    color: #fff;
}
.answer-section-button:hover {
    background-color: #859cdb;
}
  
.answer-section-button:focus {
    outline: none;
}
  
.answer-section-button svg {
    margin-right: 5px;
}
.question-text-input{
    padding:1%;
    margin: 1%;
    outline: none;
    border: 1;
    color: #8b7d77;
}
.input-create-quiz {
    width: 275px;
    padding:1%;
    margin: 1%;
    outline: none;
    color: #8b7d77;
    margin-bottom: 20px;
}
.input-create-quiz-header{
    width: 275px;
}

  .justify-content-center-create-quiz {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: flex;
    padding-top: 1%;
    border: 0;
    width: 550px;
  }

  .d-flex-create-quiz {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.removeQuestion{
    margin-left: 10px;
}